.gallery__description-box
    h3.gallery__description-title Участок расположенного в Ярославской обл Борисоглебском р-не рядом с деревней Маклоково
    .gallery__description-text
        p   
            | Каждый из нас понимает очевидную вещь:
            | синтетическое тестирование позволяет выполнить важные задания по разработке экспериментов, 
            | поражающих по своей масштабности и грандиозности. 
            | Также как курс на социально-ориентированный национальный проект однозначно фиксирует необходимость новых предложений. 
        p 
            | Следует отметить, что постоянный количественный рост и сфера нашей активности играет важную роль 
            | в формировании прогресса профессионального сообщества. 
        p 
            | С учётом сложившейся международной обстановки, 
            | разбавленное изрядной долей эмпатии, рациональное мышление обеспечивает 
            | актуальность экономической целесообразности принимаемых решений. 
