@import 'top-nav/top-nav.scss';

$header-height: 800px; // высота блока header, возможно, придётся менять при адаптивном дизайне
$header-img: url('img/header.gif'); // фоновая картинка header блока

.header{
    width: 100%;
    height: $header-height; 
    background-size: cover;
    position: relative;
}
.header_background{
    background: $header-img center center no-repeat; // картинка 880Кб, нужно ужимать для мобильных версий 
}

