.header{
    width: 100%;
    height: 800px; // пока так, потом можно перейти к относительным единицам
    background-size: cover;
}
.header_background{
    background: url('img/header.gif') center center no-repeat; // картинка 880Кб, нужно ужимать для мобильных версий 
}