nav.nav-box
    ul.nav-box__menu
        li.nav-box__menu-item
            a.nav-box__menu-item-link(href="#gallery") 
                span.nav-box__menu-item-bold-link Об участке
                span.nav-box__menu-item-normal-link Об участке
        li.nav-box__menu-item
            a.nav-box__menu-item-link(href="#key-properties") 
                span.nav-box__menu-item-bold-link Преимущества
                span.nav-box__menu-item-normal-link Преимущества
        li.nav-box__menu-item
            a.nav-box__menu-item-link(href="#map") 
                span.nav-box__menu-item-bold-link Расположение
                span.nav-box__menu-item-normal-link Расположение
        li.nav-box__menu-item
            a.nav-box__menu-item-link(href="#slider") 
                span.nav-box__menu-item-bold-link Инфраструктура
                span.nav-box__menu-item-normal-link Инфраструктура
        li.nav-box__menu-item
            a.nav-box__menu-item-link(href="#footer")
                span.nav-box__menu-item-bold-link Оставить заявку
                span.nav-box__menu-item-normal-link Оставить заявку