$item-step: 22px; // отступ (интервал) между пунктами меню
$item-font-size: 18px; // размер шрифта пунктов меню

.nav-box{ // контейнер для меню (тег <nav>)
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 23px;
}
.nav-box__menu{ // блок меню (тег <ul>)
    display: flex;
    justify-content: space-between;
}
.nav-box__menu>* + *{ // интервал между пунктами меню
    margin-left: $item-step;
}
.nav-box__menu-item:nth-last-child(-n+2){ // поправка интервала для последних двух пунктов
    margin-left: $item-step + 7px;
}
.nav-box__menu-item{ // пункт меню (тег <li>)
    display: flex;
    justify-content: center;
}

.nav-box__menu-item-link, // ссылка внутри пункта меню (тег <a>)
.nav-box__menu-item-link:visited{
    text-decoration: none;
    color: #F1F5F2;
    line-height: 21.94px;

    font-family: 'Montserrat', sans-serif;
    font-size: $item-font-size;

    text-shadow: 0.876px 0.876px 0px rgba(255,255,255,0.85);
    text-shadow: 0.876px -0.876px 0px rgba(255,255,255,0.85);
    text-shadow: -0.876px 0.876px 0px rgba(255,255,255,0.85);
    text-shadow: -0.876px -0.876px 0px rgba(255,255,255,0.85);
    text-shadow: 0.876px 0px 0px rgba(255,255,255,0.85);
    text-shadow: 0px 0.876px 0px rgba(255,255,255,0.85);
    text-shadow: 0px -0.876px 0px rgba(255,255,255,0.85);
    text-shadow: -0.876px 0px 0px rgba(255,255,255,0.85);
}

// при наведении на ссылку пункта меню
.nav-box__menu-item-link:hover{
    border-bottom: 1px solid #F1F5F2;
    text-shadow: none;
    color: #F1F5F2;
}