// $offer-box-width: 737px; // ширина блока с предложением см. header.scss
$offer-margin-left: (160px / $offer-box-width)*100%; // отступ слева для блока предложений 160px
$offer-width: (577px/$offer-box-width)*100%; // ширина блока предложений $offer-box-width-$offer-margin-left
$offer-margin-top: (207px/$offer-box-width)*100%; // верхний отступ блока предложений
$offer-font-size: 1.25vw; // основной размер шрифта блока предложений 18px при viewport 1440px
$offer-title-font-size: 4.1666666666666666666666666666667vw; // размер шрифта основного заготовка блока предложений
$offer-title-font-size-max: 60px; // максимальный размер шрифта основного заготовка блока предложений
$text-color: #F1F5F2; // цвет текста блока
$get-price-width: calc(100vw*(273/1440)); // ширина кнопки "узнать цену"
$get-price-height: calc(100vw*(52/1440)); // высота кнопки "узнать цену"


.offer{ // блок-контейнер для предложения
    margin-left: $offer-margin-left;
    margin-top: $offer-margin-top;
    width: $offer-width;
    font-family: 'Montserrat', sans-serif;
}
.offer-subtitel{ // уточняющий подзаголовок
    font-size: $offer-font-size;
    color: $text-color;
    font-weight: 400;
    letter-spacing: -0.03em;
    white-space: nowrap;
}
.offer-title{ // предложение
    margin-top: 16px;
    font-weight: 900;
    font-size: $offer-title-font-size;// от 60px для vw=1440px до 25px для vw=600px
    line-height: 1.2166666666666666666666666666667; // 73px
    color: $text-color;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.get-price-button, // кнопка "узнать цену"
.get-price-button:visited,
.get-price-button:active
{
    margin-top: 30px;
    background: #621708;    // rgb(98,23,8)
    display: flex;
    align-items: center;
    margin-left: -5px;
    // padding-top: 15px;
    // padding-bottom: 15px;
    width: $get-price-width;
    height: $get-price-height;
    
    max-width: 273px;
    min-width: 243px;
    max-height: 52px;
    min-height: 42px;


    // width: calc(0.02678571428571428571428571428571 * 100vw + 234.42857142857142857142857142857);
}
.get-price-button__text{ // надпись на кнопке
    color: #F1F5F2;
    font-size: $offer-font-size;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;
    margin-left: 74px;
}
.get-price-button:hover{
    background: rgb(94,19,4);
}
.offer-sign{ // мотивирующее дополнение к предложению
    margin-top: 7.6388888888888888888888888888889vw; //100*(110/1440)vw
    letter-spacing: 0em;
    line-height: 22px;
    font-weight: 400;
    font-size: $offer-font-size;
    color: #F1F5F2;
    white-space: nowrap;
}

@media(min-width:1440px){
    .offer-title{ // максимальный размер шрифта заголовка блока предложения
        font-size: $offer-title-font-size-max;
    }
    .offer-subtitel,
    .offer-sign,
    .get-price-button__text{
        font-size: 18px;
    }
    // .get-price-button{ // кнопка "узнать цену"
    //     width: 273px;
    //     height: 52px;
    // }
    .offer-sign{ // мотивирующее дополнение к предложению
        margin-top: 110px;
    }
}
// размер шрифта блока меняется от 18px до 16px
@media(max-width:1285px){
    .offer-subtitel,
    .offer-sign,
    .get-price-button__text{
        font-size: 16px;
    }
    // размеры кнопки меняются от 243x42 до 273x52
    // .get-price-button{ // кнопка "узнать цену"
    //     width: 243px;
    //     height: 42px;
    // }
}
// переход на мобильную версию
@media(max-width:767px){
    .offer{
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
    }
    .offer-subtitel{
        margin-top: 188px
    }
    .offer-title{
        text-align: center;
        margin-top: 23px;
    }

}
// заголовок блока 
@media(max-width:600px){
    .offer-title{ // минимальный размер шрифта заголовка блока предложения
        font-size: 25px;
       // white-space: nowrap;
    }
    .offer-sign{
        display:none;
    }
}


