article.offer
    h3.offer-subtitel продается от собственника
    h1.offer-title живописный участок
    a(href="#price").get-price-button
        span.get-price-button__text Узнать цену
    h3.offer-sign Для тех, кто ищет гармонию и счастье