$offer-margin-left: calc( 100% * (160 / 737) ); // отступ слева для блока предложений 160px
$offer-width: calc( 100% * (577 / 737) ); // ширина блока предложений 
$offer-margin-top: calc(100% * (207 / 737) ); // верхний отступ блока предложений
$offer-font-size: calc(100vw * (18 / 1440) ); // основной размер шрифта блока предложений 18px при viewport 1440px
$offer-title-font-size: calc(100vw * (60 / 1440) ); // размер шрифта основного заголовка блока предложений
$offer-title-font-size-max: 60px; // максимальный размер шрифта основного заготовка блока предложений
$text-color: #F1F5F2; // цвет текста блока
$get-price-width: calc(100vw * (273 / 1440)); // ширина кнопки "узнать цену"
$get-price-height: calc(100vw * (52 / 1440)); // высота кнопки "узнать цену"

// блок-контейнер для предложения
.offer{ 
    margin-left: $offer-margin-left;
    margin-top: $offer-margin-top;
    width: $offer-width;
    font-family: 'Montserrat', sans-serif;
}
// уточняющий подзаголовок
.offer-subtitel{ 
    font-size: $offer-font-size;
    color: $text-color;
    font-weight: 400;
    letter-spacing: -0.03em;
    white-space: nowrap;
    line-height: calc(22 / 18);
}
// предложение
.offer-title{ 
    margin-top: 16px;
    font-weight: 900;
    font-size: $offer-title-font-size;// от 60px для vw=1440px до 25px для vw=600px
    line-height: calc(73 / 60); // 73px
    color: $text-color;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
// кнопка "узнать цену"
.get-price-button, 
.get-price-button:visited
{
    margin-top: 30px;
    background: #621708;    // rgb(98,23,8)
    display: flex;
    align-items: center;
    width: $get-price-width;
    height: $get-price-height;
    
    max-width: 273px;
    min-width: 243px;
    max-height: 52px;
    min-height: 42px;
}
// надпись на кнопке
.get-price-button__text{ 
    color: #F1F5F2;
    font-size: $offer-font-size;
    font-weight: 400;
    line-height: calc(22 / 18);
    letter-spacing: -0.02em;
    margin-left: 74px;
}
.get-price-button:hover{
    background: rgb(94,19,4);
}
// мотивирующее дополнение к предложению
.offer-sign{ 
    margin-top: calc(100vw * (110 / 1440) ); 
    letter-spacing: 0em;
    line-height: calc(22 / 18);
    font-weight: 400;
    font-size: $offer-font-size;
    color: #F1F5F2;
    white-space: nowrap;
}
// ----- Поправки для совпадения с макетом -----
@media screen and (min-width: 1440px){
    .offer{
        margin-top: 208px;
    }
    .offer-subtitel{
        margin-top: 1px;
    }
    .offer-title{
        margin-top: 19px;
    }
    .get-price-button{
        margin-left: -5px;

    }
    .offer-sign{
        margin-top: 111px;
        margin-left: 1px;
    }
}

// размер шрифта блока меняется от 18px до 16px
// чтобы было "смотрибельно"
@media screen and (max-width:1285px){
    .offer-subtitel,
    .offer-sign,
    .get-price-button__text{
        font-size: 16px;
    }
}
// ----- переход на мобильную версию -----
@media screen and (max-width:767px){
    .offer{
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .offer-subtitel{
        margin-top: 188px
    }
    .offer-title{
        text-align: center;
        margin-top: 23px;
    }
    .get-price-button{
        margin-top: 111px;
        >span{
            margin-left: 68px;
        }
    }
}
// заголовок блока 
@media screen and (max-width:600px){
    // минимальный размер шрифта заголовка блока предложения
    .offer-title{ 
        font-size: 25px;
    }
    .offer-sign{
        display:none;
    }
}
// поправка для смартфонов
@media screen and (max-width: 320px){
    // заголовок блока предложения
    .offer-title{
        margin-right: 8px;
    }
}
// ----- Ограничители -----
@media screen and (min-width:1440px){
    // максимальный размер шрифта заголовка блока предложения
    .offer-title{ 
        font-size: $offer-title-font-size-max;
    }
    .offer-subtitel,
    .offer-sign,
    .get-price-button__text{
        font-size: 18px;
    }
    // мотивирующее дополнение к предложению
    .offer-sign{ 
        margin-top: 110px;
    }
}