section.key-properties#key-properties
    .key-properties__properties-box
        figure.key-properties__img-box
            img.key-properties__img(src="./img/good-air.jpg", alt="Свежий воздух")
            figcaption.key-properties__img-caption 
                span Свежий воздух
        figure.key-properties__img-box
            img.key-properties__img(src="./img/location.jpg", alt="Удобное расположение")
            figcaption.key-properties__img-caption 
                span Удобное расположение
        figure.key-properties__img-box
            img.key-properties__img(src="./img/profit.jpg", alt="Выгодное вложение")
            figcaption.key-properties__img-caption 
                span Выгодное вложение