<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="robots", content="none")
        title 
            block title
    body
        .wrapper 
            .content-box.grid-container
                .row
                    block header
                .row
                    block main
                .row
                    block footer