// Параметры сетки определяют положение и размеры блоков контента на странице
// в т.ч. в зависимости от размеров viewport
$container-width: 1440px; // ширина контейнера 
.grid-container{ // пока фиксированный макет
    width: $container-width;
    margin: auto;
}
.row{
    display: flex;
}
.col{

}
