// Параметры сетки определяют положение и размеры блоков контента на странице
// в т.ч. в зависимости от размеров viewport
.grid-container{ // пока фиксированный макет
    width: 1440px;
    margin: auto;
}
.row{
    display: flex;
}
.col{

}
